main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; /* مهم */
  }
  
  main h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 15px;
  }
  